/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}



/* global */

body 												{background:url(../_images/bg.png) 0 0 repeat;}
a:link,
a:visited										    {color:#555; text-decoration:none;}
a:hover,
a:visited:hover									    {color:#777; text-decoration:none;}

table td										    {}

h1												    {}
h2												    {}
h3												    {}
h4												    {}
h5												    {}
h6												    {}

p												    {}
span												{}
hr													{}
label												{}
input[type=text]									{}
input[type=text]:focus								{}
input[type=submit]									{}
textarea											{}

::selection 										{background:#55b0f6; /* Safari */}
::-moz-selection 									{background:#55b0f6; /* Firefox */}



/* container */

#container											{background:#fff; margin:0 auto; width:1020px;}
#content											{margin:0 auto 100px; overflow:auto; padding:0 0 60px 0; width:960px;}



/* header */

#header												{height:100px; margin:0 0 40px 0;}
#header img											{display:block; margin:0 auto; width:500px;}


/* chart */

.axis path,
.axis line 											{fill:none; stroke:#aaa; stroke-dasharray:1,4; shape-rendering:crispEdges;}
.axis text 											{fill:#aaa; display:block !important; font-size:9px !imporant;}
.axis g:first-child									{display:none !important;}

#line-graph 										{stroke:#ccc; stroke-width:1; stroke-dasharray:1,4; fill:none;}
 
#chart												{height:540px; margin:0 auto 40px; width:840px;}
#chart svg											{padding:20px;}
#chart text 										{color:#000; display:none; font-size:12px;}
#chart circle 										{cursor:pointer; display:none; opacity:.1;}

#chart .SouthPark 									{fill:#fc0;}
#chart .familyguy 									{fill:#0f86c8;}
#chart .MythBusters									{fill:#b18546;}
#chart .TheVoice									{fill:#960202;}
#chart .DWTS										{fill:#a161c1;}
#chart .CriminalMinds								{fill:#222;}
#chart .bones										{fill:#bb8e39;}
#chart .TheWalkingDead								{fill:#787f56;}
#chart .HIMYM										{fill:#475578;}
#chart .NewGirl										{fill:#3f70b5;}
#chart .ModernFamily								{fill:#f04615;}
#chart .30Rock										{fill:#FFC760;}



#shows												{border-top:5px solid #ccc; padding:20px 0 0 0;}
/* #shows-tweets										{} */
#shows-list li										{float:left; margin:0 15px 0 0; width:80px;}
#shows-list li a									{background:#ccc; display:block; width:80px;}



/* responsive design css rules */

@media screen and (max-width:480px) {
body 												{}
													}

@media screen and (min-width:480px) and (max-width:800px) {
body 												{}
													}

@media screen and (min-width:800px) and (max-width:1024px) {
body 												{}
													}



/* misc */

strong											    {font-weight:bold;}
em													{font-style:italic;}
.cb													{clear:both;}          
