/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}



/* global */

body 												{background:url(../_images/bg.png) 0 0 repeat #fff; font-family:'Gudea',helvetica,arial,sans-serif; padding:0;}
a:link,
a:visited										    {color:#555; text-decoration:none;}
a:hover,
a:visited:hover									    {color:#777; text-decoration:none;}

table td										    {}

h1												    {}
h2												    {border-top:10px solid #eee; color:#000; font-size: 1.5em; margin:0 0 10px 0; padding:5px 0 0 0;}
h3												    {font-size:1.5em; margin:0 0 5px 0;}
h4												    {}
h5												    {}
h6												    {}

p												    {}
span												{}
hr													{}
label												{}
input[type=text]									{}
input[type=text]:focus								{}
input[type=submit]									{}
textarea											{}

::selection 										{background:#231d14; /* Safari */}
::-moz-selection 									{background:#231d14; /* Firefox */}



/* container */

#container											{background:#fff; margin:0 auto; overflow:auto; position:relative; width:1020px;}
#content											{margin:0 auto; overflow:auto; padding:0 0 100px 0; width:940px;}



/* header */

#header												{height:70px; margin:0 0 10px 0; padding:10px 0 0 0;}
#header img											{display:block; margin:0 auto; width:300px;}



/* chart */

.axis path 											{fill:none; stroke:#ccc; shape-rendering:crispEdges; stroke-width:0;}
.axis line 											{fill:none; stroke:#ccc; shape-rendering:crispEdges; stroke-dasharray:0,0 !important; stroke-width:2;}
.axis text 											{fill:#aaa; display:block !important; font-size:9px !imporant;}
.axis g:first-child									{display:none !important;}

#y-axis	path										{stroke:none;}
 
#chart												{margin:0 auto 30px; width:840px;}
#chart svg											{padding:20px;}
#chart text 										{color:#000; display:none; font-size:.75em;}
#chart text.stats 									{font-size:1em; text-anchor:end;}
#chart circle 										{cursor:pointer; display:none; opacity:1;}
#chart line 										{stroke:#ccc; stroke-dasharray:1,4; stroke-width:1; fill:none;}

#chart .c-SouthPark 								{fill:#fc0;}
#chart .c-familyguy 								{fill:#0f86c8;}
#chart .c-MythBusters								{fill:#b18546;}
#chart .c-TheVoice									{fill:#960202;}
#chart .c-DWTS										{fill:#a161c1;}
#chart .c-CriminalMinds								{fill:#222;}
#chart .c-bones										{fill:#bb8e39;}
#chart .c-TheWalkingDead							{fill:#787f56;}
#chart .c-HIMYM										{fill:#475578;}
#chart .c-NewGirl									{fill:#3f70b5;}
#chart .c-ModernFamily								{fill:#f04615;}
#chart .c-30Rock									{fill:#ffc760;}



/* tweet info box */

#tweets-info										{display:block; font-size:.875em; position:absolute; right:120px; text-align:right; top:82px;}



/* shows */

#shows-list											{margin:0 0 20px 0; overflow:auto;}
#shows-list ul										{float:left; margin:0 20px 0 0; width:220px;}
#shows-list ul.last									{margin:0;}
#shows-list li 										{margin:0 0 5px 0;}
#shows-list li a									{display:block; overflow:auto; padding:5px; width:210px;}
#shows-list li a:visited,
#shows-list li a:hover,
#shows-list li a.on									{color:#fff; text-shadow: 1px 1px 3px #555;}
#shows-list li a img								{display:block; float:left; margin:0 10px 0 0; width:40px;}
#shows-list li a span								{display:block; float:left; font-size:.875em; margin:10px 0 0 0; width:160px;}

#c-SouthPark a:hover,
#c-SouthPark a.on									{background:#fc0;}
#c-familyguy a:hover,
#c-familyguy a.on									{background:#0f86c8;}
#c-MythBusters a:hover,
#c-MythBusters a.on									{background:#b18546;}
#c-TheVoice a:hover,
#c-TheVoice a.on									{background:#960202;}
#c-DWTS a:hover,
#c-DWTS a.on										{background:#a161c1;}
#c-CriminalMinds a:hover,
#c-CriminalMinds a.on								{background:#222;}
#c-bones a:hover,
#c-bones a.on										{background:#bb8e39;}
#c-TheWalkingDead a:hover,
#c-TheWalkingDead a.on								{background:#787f56;}
#c-HIMYM a:hover,
#c-HIMYM a.on										{background:#475578;}
#c-NewGirl a:hover,
#c-NewGirl a.on										{background:#3f70b5;}
#c-ModernFamily a:hover,
#c-ModernFamily a.on								{background:#f04615;}
#c-30Rock a:hover,
#c-30Rock a.on										{background:#ffc760;}

#toggle-all											{background:#333; clear:both; color:#fff; display:block; padding:15px 0 15px 0; text-align:center; text-transform:uppercase; }
#toggle-all:hover,
#toggle-all.on										{background:#000;}



/* misc */

strong											    {font-weight:bold;}
em													{font-style:italic;}
.cb													{clear:both;}          
